a {
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

a:focus {
    color: #2196F3;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    line-height: 1.2;
}

.logo-color {
    color: #2196F3;
}

.logo-header {
    color: black;    
}

.font {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.header {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
}

.link-nav {
    color: #212121;
}

.link-address {
    color: #757575;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.button {
    cursor: pointer;
    background: #2196F3;
    color: #ffffff;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}

.title-dignity {
    font-size: 14px;
    line-height: 1.1;
    color: #212121;
    text-transform: uppercase;
}

.text-dignity {
    font-size: 14px;
    line-height: 1.7;
}

.title-2 {
    font-size: 36px;
    line-height: 1.2;
    color: #212121;
    text-align: center;
}

.name {
    line-height: 1.2;
    color: #212121;
    font-weight: 500;
}

.job-title {
    line-height: 1.2;
}

.logo-footer {
    color: #ffffff;
}

.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    font-style: normal;
}

.footer-link {
    color: #ffffff;
}